.settings.xml
cache/*
node_modules/
runtime.json
gmon.out
.DS_Store
.idea
*.swp
*.cache
*.o
*.lo
*.swp
*.log
*.gz
.deps/
C/Debug/
C/Release/
C/aclocal.m4
C/autom4te.cache
C/configure
C/config.h.in
C/config.tmp
C/fpm/graphdat-agent/graphdat-agent
C/Makefile.in
C/src/configure
C/src/config.status
C/src/graphdat-agent
C/win-vs2010exp/msgpack-0.5.7/Debug/
C/win-vs2010exp/msgpack-0.5.7/_UpgradeReport_Files/
C/win-vs2010exp/msgpack-0.5.7/lib/
C/win-vs2010exp/msgpack-0.5.7/include
C/win-vs2010exp/Debug/
C/win-vs2010exp/Release/
*.bsc
*.ipch
*.lastbuildstate
*.sbr
*.sln.old
*.suo
*.tlog
*.opensdf
UpgradeLog.XML
*.slo
*.la
.libs/
